.work-sans-mainFont {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.primary_color {
  color: #fd6e0a;
}

.button-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.button-secondary {
  color: rgba(253, 110, 10, 1);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(253, 110, 10, 1);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 8px 16px;
}

.common-description{
 color: rgba(117, 117, 117, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

/* header style */

header {
  background-image:
    url("../Assests/developer.png"), url("../Assests/header_bg.png");
  background-repeat: no-repeat;
  background-position:
    left 44px top 0px,
    bottom right;
    background-size:
     110px 724px, 
    auto;  

    background-color: #FFF8F3;
}

/* navbar style  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 220px;
}

.nav-title {
  font-style: ExtraBold;
  font-size: 45px;
  font-weight: 800;
  text-align: left;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  margin-right: 10px;
  color: rgba(71, 71, 71, 1);
  font-style: Regular;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

/* banner style  */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 220px;
}

.banner-greetings {
  color: rgba(71, 71, 71, 1);
  font-size: 42px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.banner-title {
  color: rgba(24, 24, 24, 1);
  font-size: 82px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;
}

.banner-description {
  margin: 0;
  padding-bottom: 30px;
}

.banner .banner-content .banner-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.banner .banner-content .banner-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.banner .banner-content .banner-buttons button img {
  width: 20px;
  height: 20px;
}

.banner-profile-img {
  width: 584px;
  height: 676px;
}


/* about stye  */

.about{
  background-color: rgba(255, 248, 243, 1);
  border-radius: 10px;
  max-width: 1140px;
  margin: 126px 226px;
  padding: 116px 154px;


}
.section-title{
color: rgba(24, 24, 24, 1);
font-size: 32px;
font-weight: 700;
line-height: 46px;
text-align: center;
}

.about-description{
text-align: center;
padding: 30px 0;
}

.about-items{
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.about-item{
text-align: center;
}

.item-description {
   color: rgba(117, 117, 117, 1);
    font-weight: 600;
}



/* skill style */

.skills{
  margin-bottom: 128px;
}
.skill-description{
  max-width: 906px;
  margin: 0 auto;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 48px;
}


.skills-details{
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
}

.skill-card{
width: 267px;
padding: 30px;
border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
}

.icon{
width: 42px;
height: 42px;
margin-bottom: 30px;
}

.skill-name{
color: rgba(24, 24, 24, 1);
font-size: 20px;
font-weight: 700;
line-height: 27px;
text-align: left;
margin-bottom: 16px;
}

.skill-set-description{
  text-align: left;
}


